@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b3b0af #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b3b0af;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b3b0af;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #b3b0af;
}
